# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local data
chroma_langchain_db/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo 